/.config
/.config.old
/.config-e
/.version
/Make.defs
/setenv.sh
/setenv.bat
/nuttx
/nuttx.*
/nuttx-*
/_SAVED_APPS_config
/*.map
/*.elf
/*.srec
/*.bin
/**/*.o
/**/*.a
/**/Make.dep
/.patchedpx4common
/arch/arm/include/math.h
/*.ihx
/*.hex
/pcode
/cmpit.sh
/cmporig.sh
/tstit.sh
