[submodule "Documentation"]
	path = Documentation
	url = https://bitbucket.org/nuttx/documentation.git
[submodule "configs"]
	path = configs
	url = https://github.com/petekol/boards.git
	branch = upstream
[submodule "arch"]
	path = arch
	url = https://github.com/petekol/arch.git
	branch = upstream
